{% extends 'base.html' %}
{% block title %}Editar Cita{% endblock %}
{% block content %}
    <!--Formulario-->

        <div class="container mb-4">
            <div class="container mb-2 text-center">
                <i class="bi bi-pencil-square p-3" style="font-size: 8rem;"></i>
            </div>
            <div class="mb-4 d-flex justify-content-center align-items-center text-center fs-1 fw-bold">
                <p class="p-4 rounded-4 w-50" style="border: 1px solid black;"> Editar Información de la Historia Clinica</p>
            </div>
        </div>
        {% include 'form.html' %}


{%endblock%}