<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in formulario %}

    <div class="container-fluid mb-4 text-center" id="div-usuario">
        <label for="usuario" class="form_label form-label fs-5 fw-medium">{{ campo.label }}</label>
        <div class="input-group">
            <input 
            type="{{ campo.field.widget.input_type }}" 
            id="usuario" 
            name="{{ campo.name }}" 
            class="form-control border-3" 
            aria-describedby= "helpId"
            placeholder="{{ campo.label }}"
            value="{{ campo.value | default:'' }}"
            />
        </div>
    </div>
    <div class="col-12 help-text">{{campo.errors}}</div>
    {% endfor %}

    <div class="container-fluid mb-1 d-flex">
        <div class="container-fluid mb-4 d-flex justify-content-center">
            <a href="{% url 'index' %}" role="button" class="btn btn-outline-danger fs-5" >Cancelar</a>
        </div>
        <div class="container-fluid mb-4 d-flex justify-content-center">
            <input type="submit" class="btn btn-outline-success fs-5" value="Registrar">
        </div>
    </div>

</form>
    





