{% extends 'base.html' %}
{% block content %}


    <!--Formulario-->
    <form id="formulario" class="mt-5 mb-5" action="/registrarse" method="POST" > {% csrf_token %}
        <div class="mb-4 container rounded-5 bg-body-secondary" style="border: 1px solid black;">
            <div class="container mb-4">
                <div class="container mb-2 text-center">
                    <i class="bi bi-person-circle p-3" style="font-size: 8rem;"></i>
                </div>
                <div class="mb-4 d-flex justify-content-center align-items-center text-center fs-1 fw-bold">
                    <p class="p-4 rounded-4 w-50" style="border: 1px solid black;"> Registrarse</p>
                </div>
            </div>
            <div class="container-fluid mb-4 d-flex">
            <!--Contenedor Usuario-->
                <div class="container-fluid mb-4 text-center" id="div-usuario">
                    <label for="usuario" class="form_label form-label fs-5 fw-medium">Usuario</label>
                    <div class="input-group">
                        <i class="bg-info bi bi-person-circle input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="text" id="usuario" name="usuario" class="form-control border-3" placeholder="Guillermo123">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
                <!--Contenedor Nombre-->
                <div class="container-fluid mb-4 text-center" id="div-nombre">
                    <label class="form_label form-label fs-5 fw-medium" for="nombre"> Nombre</label>
                    <div class="input-group">
                        <i class="bg-info bi bi-person-fill input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="text" id="nombre" name="nombre" class="form-control border-3" placeholder="Guillermo">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-4 d-flex">
                <!--Contenedor Apellidos-->
                <div class="container-fluid mb-4 text-center" id="div-apellido">
                <label class="form_label form-label fs-5 fw-medium" for="apellido">Apellidos</label>
                <div class="input-group">
                        <i class="bg-info bi bi-person-fill input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="text" id="apellido" name="apellido" class="form-control border-3 " placeholder="Fleites Alonso">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
                <!--Contenedor Correo-->
                <div class="container-fluid mb-4 text-center" id="div-correo">
                    <label class="form_label form-label fs-5 fw-medium" for="correo"> Correo</label>
                    <div class="input-group">
                        <i class="bg-info bi bi-envelope-at-fill input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="email" id="correo" name="correo" class="form-control border-3" placeholder="correo@correo.com">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
            </div>
            <div class="container-fluid mb-4 d-flex">
                <!--Contenedor Contraseña-->
                <div class="container-fluid mb-4 text-center" id="div-password">
                    <label class="form_label form-label fs-5 fw-medium" for="password">Contraseña</label>
                    <div class="input-group">
                        <i class="bg-info bi bi-key-fill input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="password" id="password" name="password" class="form-control border-3" placeholder="******">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
                <!--Contenedor Telefono-->
                <div class="container-fluid mb-4 text-center" id="div-telefono">
                    <label class="form_label form-label fs-5 fw-medium" for="telefono">Teléfono</label>
                    <div class="input-group">
                        <i class="bg-info bi bi-telephone-fill input-group-text" style="font-size: 1.5rem;"></i>
                        <input type="tel" id="telefono" name="telefono" class="form-control border-3" placeholder="58564534">
                        <i class="validacion-estado icon bi bi-x-circle-fill" style="font-size: 20px;"></i>
                    </div>
                </div>
            </div>
            <!--Contenedor de seleccion-->
            <div class="container text-center d-flex justify-content-center align-items-center">
                <i class="bg-info bi bi-person-fill input-group-text" style="font-size: 1.5rem;"></i>
                <label for="select" class="form_label form-label fs-5 fw-medium">Seleccione su tipo:</label>
            </div>
            {% comment %} <div class="container mb-4 d-flex justify-content-center align-items-center w-50">
                <div class="container p-3">
                    <select id="select" name="select" class="form-select border-3 text-center fs-5" required>
                        <option class="text-center fs-5"></option>
                        <option value="0">Psicólogo</option>
                        <option value="1">Trabajador Social</option>
                        <option value="2">Paciente</option>
                    </select>
                </div>
            </div> {% endcomment %}
            <div class="container mensaje-error text-center w-50 mb-4" id="mensaje-error">
                <p class="error bg-danger text-light rounded-2 fs-5"><i class="bi bi-exclamation-triangle" style="font-size: 25px;"></i><b class="text-light fs-5"> Error:</b> Por favor rellene todos los campos.
                </p>
            </div>
            <!--Contenedor de botones-->
            <div class="container-fluid mb-1">
                <div class="container-fluid mb-1 d-flex">
                    <div class="container-fluid mb-4 d-flex justify-content-center">
                        <button type="reset" class="btn btn-outline-danger fs-5">Cancelar</button>
                    </div>
                    <div class="container-fluid mb-4 d-flex justify-content-center">
                        <button type="submit" class="btn btn-outline-success fs-5">Registrar</button>
                    </div>
                </div>
                <p class="mensaje-exito text-center text-success fs-5" id="mensaje-exito">¡Registro exitoso!</p>
            </div>
        </div>
    </form>

{%endblock%}